body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 10px;
    background-color: blue;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

section {
    margin: 20px;
}

.project {
    width: 200px; /* Square dimensions */
    height: 200px;
    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block; /* Aligns the containers side by side */
    text-align: center;
    line-height: 200px; /* Vertically centers the text */
}

h1, h2 {
    color: #333;
}

#bio, #work {
    background-color:pink;
    padding: 15px;
}

footer {
    background-color: teal;
    text-align: center;
    padding: 10px;
}
